body {
    background-color: lightcoral;
}

* {
    text-align: center;
}

#logo {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    color: dimgray;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Copperplate', 'Papyrus', fantasy;
    font-size: larger;
}

img {
    width: 1000px;
    height: auto;
}

ul,
ol {
    background-color: turquoise;
}

#home {
    background-color: lightcoral;
}